PORT=5000
NODE_ENV=development

MONGODB_URI=mongodb://localhost:27017/flower_gift_shop

JWT_SECRET=flower_gift_shop_secret_2024
JWT_EXPIRES_IN=7d
JWT_REFRESH_SECRET=flower_refresh_secret_2024
JWT_REFRESH_EXPIRES_IN=30d

CLIENT_URL=http://localhost:5173

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASS=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=